class {{pascalCase name}} {
    constructor() {

    }

    static helloWorld = () => {
        console.log('Hello {{pascalCase name}}')
    }
}

{{pascalCase name}}.instance = new {{pascalCase name}};
module.exports = {{pascalCase name}};