export const initialState = {
    data: ''
}

export function {{camelCase name}}Reducer(state, action) {
    switch(action.type) {
        case TYPES.ACTION:
            return {
                ...state,
                data: action.payload
            };
        default: 
            return {...state};
    }
}

export const TYPES = {
    ACTION: 'ACTION'
}