{
  "name": "{{kebabCase name}}",
  "version": "0.1.0",
  "description": "{{description}}",
  "main": "build/index.js",
  "module": "build/index_module.js",
  "browser": "build/index_iife.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "build": "rollup -c && tsc"
  },
  "repository": {
    "type": "git",
    "url": ""
  },
  "keywords": [
    "storage",
    "events"
  ],
  "author": "Garney",
  "license": "ISC",
  "devDependencies": {
    "rollup": "^2.61.0",
    "rollup-plugin-terser": "^7.0.2",
    "rollup-plugin-typescript2": "^0.31.1",
    "typescript": "^4.5.3"
  }
}
