@import '../../../../uiLibrary/sass/colors'
.container
    width: 100%
    height: 100%
    z-index: 1
    display: flex
    flex-direction: column
    align-items: center

    .componentContainer
        display: flex
        width: 500px
        height: 400px
        align-items: center
        justify-content: center

    .controlContainer
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

        .listenerDisplay
            width: 300px
            min-height: 20px
            border-radius: 10px
            margin: 10px
            background: $white
            color: $black
            text-align: center

        .propsInput
            display: flex

            .input
                font-weight: bold
                width: 130px